* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
    background-color: #F5F4F0;
}

#page {
    width: 1120px;
    margin: 88px auto 80px;
    box-sizing: border-box;
}

#destinations {
    margin-top: 64px;
    margin-bottom: 64px;
}

img { 
    object-fit: cover;
    border-radius: 28px;
    width: 1120px;
    height: 350px;
    margin-top: 48px;
    margin-bottom: 20px;
}

#img1 {
    height: 660px;
    margin-top: 40px;
    margin-bottom: 24px;
}

#img4 {
    object-position: 0px -250px; 
}

li {
    margin-left: 10px;
}

li::marker{
    font-weight: bold;
    font-size: 28px;
}

ol{
    list-style-position: inside;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    color: #1B1B1B;
    padding-top: 8px;
}
 
h2 {
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 8px;
}

h3 {
    display: inline-block;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 4px;
}

p {
    font-size: 16px;
    color: #333333;
    text-align: justify;
}

#subtitle {
    font-style: italic;
    text-align: center;
    padding-bottom: 40px;
}

.goodFor {
    font-weight: bold;
}

.headline {
    font-weight: bold;
    font-size: 16px;
    color: #E1624F;
}

.history {
    color: #0C51A7;
    font-weight: bold;
}

.couple {
    color: #591B98;
    font-weight: bold;
}

.family {
    color: #E5245E;
    font-weight: bold;
}

.budget {
    color: #E95E10;
    font-weight: bold;
}

.conclusion {
    text-align: center;
}

footer {
    padding-bottom: 48px;
    text-align: center;
}